// Tipografías
$f-roboto: "Roboto", sans-serif;
$f-sofia: "Sofia Sans", sans-serif;

// Size
$fs-1: 18px;
$fs-2: 16px;
$fs-3: 14px;

// Colores
$color-primary: black;
$color-translucient: rgba(255, 255, 255, 0);
$color-ter: #2e2e2e;
$color-sec: white;

// Weight
$fw-1: 600;

// // Tipografías
h1 {
  font-size: $fs-1;
  font-family: $f-roboto;
}

h2 {
  font-size: $fs-2;
  font-family: $f-sofia;
  font-weight: $fw-1;
}

h3 {
  padding: 10px 20px 10px 20px;
  font-size: $fs-3;
  font-family: $f-sofia;
  font-weight: $fw-1;
  color: $color-primary;
}

p {
  font-size: $fs-2;
  font-family: $f-sofia;
}
