footer {
  @extend %footer;
  @media screen and (max-width: 768px) {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  ul {
    li {
      @extend %padding-standard;
      svg {
        vertical-align: middle;
        color: $color-primary;
      }
    }
  }
}
